html { overflow-y: scroll; }

body {
    background: #444 url(../../img/bg.jpg) repeat 0 0 scroll;
}

img {
    max-width: 100%;
}

/* Move the photo container down from the top of the page */
.photo-cont {
    margin-top: 90px;
    margin-bottom: 90px;
}

.photo-wrap {
    padding: 0 0;
    z-index:1;
    -webkit-box-shadow: 0 0 54px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 54px -30px rgba(0,0,0,0.75);
    box-shadow: 0 0 54px -30px rgba(0,0,0,0.75);

    -webkit-transition: -webkit-box-shadow 0.1s;
    -moz-transition: -moz-box-shadow 0.2s;
	-o-transition: -o-box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.photo-wrap:hover {
    -webkit-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    z-index:2;
}

.photo-wrap .desc {
    position: absolute;
    bottom: 0;
    padding: 0.5em 1em;
    font-size:0.8em;
    font-family: Lato, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: bottom 0.7s, opacity 0.7s;
    -moz-transition: bottom 0.7s, opacity 0.7s;
    -o-transition: bottom 0.7s, opacity 0.7s;
    transition: bottom 0.7s, opacity 0.7s;
    opacity: 1;
}

.photo-wrap:hover > .desc {
    -webkit-transition: bottom 0.7s, opacity 0.7s;
    -moz-transition: bottom 0.7s, opacity 0.7s;
    -o-transition: bottom 0.7s, opacity 0.7s;
    transition: bottom 0.7s, opacity 0.7s;
    bottom: -2.3em;
    opacity: 0;
}

.viewer {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
}

.viewer .bg {
    opacity:0;
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
}

.viewer .bg.darken {
    opacity: 0.4;
}

.viewer img {
    display: block;
    opacity:1;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    max-width:60%;
    max-height:80%;

    -webkit-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
}

.viewer-fade {
    display:block;
    z-index:3;
}

@media (max-width: 768px) {
    .navbar-right {
        display: none;
    }
}
