html { overflow-y: scroll; }

body {
    background: #444 url(../../img/bg.jpg) repeat 0 0 scroll;
}

img {
    max-width: 100%;
}

/* Move the photo container down from the top of the page */
.photo-cont {
    margin-top: 90px;
    margin-bottom: 90px;
}

.photo-wrap {
    padding: 0 0;
    z-index:1;
    -webkit-box-shadow: 0 0 54px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 54px -30px rgba(0,0,0,0.75);
    box-shadow: 0 0 54px -30px rgba(0,0,0,0.75);

    -webkit-transition: -webkit-box-shadow 0.1s;
    -moz-transition: -moz-box-shadow 0.2s;
	-o-transition: -o-box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.photo-wrap:hover {
    -webkit-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    z-index:2;
}

.viewer {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
}

.viewer .bg {
    opacity:0;
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;

    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.viewer .bg.darken {
    opacity: 0.4;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.viewer img {
    display: block;
    opacity:1;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    max-width:60%;
    max-height:80%;

    -webkit-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 54px 0 rgba(0,0,0,0.75);
}

.viewer-fade {
    display:block;
    z-index:3;
}
